.grid-container{
  display: grid; /*de esta forma tenemos un contenedor que funciona como cuadrícula*/


  grid-template-areas: 
  "header header header"
  "navbar navbar navbar"
  "noticias . publicidades"
  "noticias . publicidades"
  "noticias . banner"
  "footer footer footer";

  background-color: rgb(52, 126, 126);
  border: 2px groove black;
  padding: 10px;
  gap: 5px;
  height: 400px;
  justify-content: stretch;
  align-content: stretch;
  }

  .grid-item{
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.item1{
  grid-area: header;
}
.item2{
  grid-area: navbar;
}
.item3{
  grid-area: noticias;
}
.item4{
  grid-area: publicidades;
}
.item5{
  grid-area: banner;
}
.item6{
  grid-area: footer;
}

@media screen and (max-width: 992px){
  .grid-container{
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "noticias noticias publicidades"
    "noticias noticias publicidades"
    "noticias noticias banner"
    "footer footer footer";
  }
}

@media screen and (max-width: 600px){
  .grid-container{
    grid-template-areas: 
    "header"
    "navbar"
    "noticias"
    "publicidades"
    "banner"
    "footer";
    gap: 2px;
  }
}