.caja-externa{
    border: 1px solid black;
    background-color: aqua;
    width: 50vw;
    height: 50vh;
}

.caja-interna{
    border: 1px solid black;
    background-color: red;
    width: 50%;
    height: 50%;
}